extends ../layouts/common.pug

block content
	.d-flex.align-items-center
		h1.flex-grow-1 List user
		span= 'Hi ' + userName

	form(class="form-inline my-2 my-lg-0" action="/users/search" method="GET")
		input(class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q" value=xxx)
		button(class="btn btn-outline-success my-2 my-sm-0" type="submit") Search

	table(class="table mt-4")
		thead
			tr
				th(scope="col") #
				th(scope="col") Avatar
				th(scope="col") Name
				th(scope="col") Phone
				th(scope="col") Email
				th(scope="col") Action
		tbody
			- var n = 1;
			each user in users
				tr
					th(scope="row")= n++
					td
						img(src=user.avatar width=50)
					td= user.name
					td= user.phone
					td= user.email
					td
						a(href="/users/" + user.id) View
