extends ../layouts/common.pug

block content
	h1.mt-4 Products

	nav.d-flex.justify-content-end
		ul.pagination
			li.page-item(class = (!firstPage ? "disabled" : ""))
				a.page-link(a href='?page=' + firstPage) Previous

			if (!endPage)
				li.page-item
					a.page-link(a href='?page=' + (firstPage - 1))= firstPage - 1
			if (firstPage)
				li.page-item
					a.page-link(a href='?page=' + firstPage)= firstPage

			li.page-item.active
				a.page-link(a href='?page=' + page)= page

			if (endPage)
				li.page-item
					a.page-link(a href='?page=' + endPage)= endPage 
			if (!firstPage)
				li.page-item
					a.page-link(a href='?page=' + (endPage + 1))= endPage + 1

			li.page-item(class = (!endPage ? "disabled" : ""))
				a.page-link(a href='?page=' + endPage) Next

	.row
		each product in products
			.col-sm-6.col-md-4.col-lg-3
				.card.mb-4
					img.card-img-top(src=product.image)
					.card-body
						h5.card-title= product.name
						p.card-text= product.description
						a.btn.btn-primary(href='/cart/add/' + product.id) Add to cart